name: Deployment Practice 1

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        
        steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Setup Postgres
          uses: Harmon758/postgresql-action@v1.0.0
          with:
            postgresql version: '18'
            postgresql db: ${{ secrets.POSTGRES_DB }}
            postgresql username: ${{ secrets.POSTGRES_USER }}
            postgresql password: ${{ secrets.POSTGRES_PASSWORD }}
        - name: Set up nodejs
          uses: actions/setup-node@v2
          with:
            node-version: '20'

        - name: Install dependencies
          run: npm install

        - name: Run migrations
          env:
            DATABASE_URL: postgresql://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/${{ secrets.POSTGRES_DB }}
          run: npx prisma migrate deploy

        - name: Run tests
          uses: actions/github-script@v6
          env:
            DATABASE_URL: postgresql://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/${{ secrets.POSTGRES_DB }}
            run: npm test
    
    build_and_publish:
        needs: test
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v2

          - name: Login GHCR
            uses: docker/login-action@v3
            with:
              registry: ghcr.io
              username: ${{ github.actor }}
              password: ${{ secrets.TOKEN }}

          - name: Build Docker image
            run: |
              docker build . -t ghcr.io/${{ github.repository }}/todo_app:latest
            
          - name: Push Docker image
            run: |
              docker push ghcr.io/${{ github.repository }}/todo_app:latest

    deploy:
        needs: build_and_publish
        runs-on: ubuntu-latest

        steps:
          - name: Deploy to Server
            uses: appleboy/ssh-action@v1.0.0
            with:
              host: ${{ secrets.SERVER_HOST }}
              username: ${{ secrets.SERVER_USER }}
              password: ${{ secrets.SERVER_PASSWORD }}
              port: 22
              script: |
                cd /home/${{ github.event.repository.name }}
                docker-compose pull
                docker-compose up -d


